/*

TemplateMo 590 topic listing

https://templatemo.com/tm-590-topic-listing

*/

/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
  --white-color:                  #ffffff;
  --primary-color:                #13547a;
  --secondary-color:              #80d0c7;
  --section-bg-color:             #f0f8ff;
  --custom-btn-bg-color:          #80d0ad;
  --custom-btn-bg-hover-color:    #13547a;
  --dark-color:                   #000000;
  --p-color:                      #717275;
  --border-color:                 #7fffd4;
  --link-hover-color:             #13547a;

  --body-font-family:             'Open Sans', sans-serif;
  --title-font-family:            'Montserrat', sans-serif;

  --h1-font-size:                 58px;
  --h2-font-size:                 46px;
  --h3-font-size:                 32px;
  --h4-font-size:                 28px;
  --h5-font-size:                 24px;
  --h6-font-size:                 22px;
  --p-font-size:                  20px;
  --menu-font-size:               14px;
  --btn-font-size:                18px;
  --copyright-font-size:          16px;

  --border-radius-large:          100px;
  --border-radius-medium:         20px;
  --border-radius-small:          10px;

  --font-weight-normal:           400;
  --font-weight-medium:           500;
  --font-weight-semibold:         600;
  --font-weight-bold:             700;
}

body {
  background-color: var(--white-color);
  font-family: var(--body-font-family); 
}


/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/

h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font-family); 
  font-weight: var(--font-weight-semibold);
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-bold);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  color: var(--primary-color);
  font-size: var(--h6-font-size);
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
}

ul li {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
}

a, 
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  display: inline-block;
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}


/*---------------------------------------
  SECTION               
-----------------------------------------*/
.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-bg {
  background-color: var(--section-bg-color);
}

.section-overlay {
  background-image: linear-gradient(15deg, #2a4fa5 0%, #a4e7a6ed 100%);;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  opacity: 0.85;
}

.section-overlay + .container {
  position: relative;
}

.tab-content {
  background-color: var(--white-color);
  border-radius: var(--border-radius-medium);
}

.nav-tabs {
  border-bottom: 1px solid #ecf3f2;
  margin-bottom: 40px;
  justify-content: center;
}

.nav-tabs .nav-link {
  border-radius: 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  color: var(--p-color);
  font-family: var(--title-font-family);
  font-size: var(--btn-font-size);
  font-weight: var(--font-weight-medium);
  padding: 15px 25px;
  transition: all 0.3s;
}

.nav-tabs .nav-link:first-child {
  margin-right: 20px;
}

.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:focus, 
.nav-tabs .nav-link:hover {
  border-bottom-color: var(--primary-color);
  color: var(--primary-color);
}



/*---------------------------------------
  CUSTOM ICON COLOR               
-----------------------------------------*/
.custom-icon {
  color: var(--secondary-color);
}


/*---------------------------------------
  CUSTOM BUTTON               
-----------------------------------------*/
.custom-btn {
  background: var(--custom-btn-bg-color);
  border: 2px solid transparent;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--btn-font-size);
  font-weight: var(--font-weight-semibold);
  line-height: normal;
  transition: all 0.3s;
  padding: 10px 20px;

}

.custom-btn:hover {
  background: var(--custom-btn-bg-hover-color);
  color: var(--white-color);
}

.custom-border-btn {
  background: #ff7722;
  border: 2px solid #ff7722;
  color: white;
}

.custom-border-btn:hover {
  background: #00BFA6;
  border-color: transparent;
  color: white;
}

.custom-btn-bg-white {
  border-color: var(--white-color);
  color: var(--white-color);
}


/*---------------------------------------
  SITE HEADER              
-----------------------------------------*/
.site-header {
  background-image: linear-gradient(15deg, #ff7722 0%, #ff77 100%);
  padding-top: 150px;
  padding-bottom: 80px;
}

.site-header .container {
  height: 100%;
}

.breadcrumb-item+.breadcrumb-item::before,
.breadcrumb-item a:hover,
.breadcrumb-item.active {
  color: var(--white-color);
}

.site-header .custom-icon {
  color: var(--white-color);
  font-size: var(--h4-font-size);
}

.site-header .custom-icon:hover {
  color: var(--secondary-color);
}


/*---------------------------------------
  NAVIGATION              
-----------------------------------------*/
.sticky-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.sticky-wrapper.is-sticky .navbar {
  background-image: linear-gradient(15deg, rgb(255, 255, 119) 0%, #ff7722 100%);
}

.navbar {
  background: transparent;
  border-bottom: 1px solid rgba(251, 105, 0, 0.426);
  z-index: 9;
}


.navbar-brand,
.navbar-brand:hover {
  font-size: 20px;
  font-weight: var(--font-weight-bold);
  display: block;
  margin-right: 0;
}

.navbar-brand img{
  position: relative;
  width: 40px;
  height: auto;
  border-radius: 50%;
}

.navbar-brand span {
  font-family: var(--title-font-family);
}

.navbar-expand-lg .navbar-nav .nav-link {
  border-radius: var(--border-radius-large);
    margin-right: 8px;
  padding: 10px;

}

.navbar-nav .nav-link {
  display: inline-block;
  color: var(--white-color);
  font-family: var(--title-font-family); 
  font-size: 13px;
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 5px;
}

.navbar-nav .nav-link.active, 
.navbar-nav .nav-link:hover {
  color: var(--primary-color);
  
}

.navbar .dropdown-menu {
  background: var(--white-color);
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
  border: 0;
  display: inherit;
  opacity: 0;
  min-width: 9rem;
  margin-top: 20px;
  padding: 13px 0 10px 0;
  transition: all 0.3s;
  pointer-events: none;
}

.navbar .dropdown-menu::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid var(--white-color);
  position: absolute;
  top: -10px;
  left: 10px;
}

.navbar .dropdown-item {
  display: inline-block;
  color: var(--p-bg-color);
  font-family: var(--title-font-family); 
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  position: relative;
}

.navbar .dropdown-item.active, 
.navbar .dropdown-item:active,
.navbar .dropdown-item:focus, 
.navbar .dropdown-item:hover {
  background: transparent;
  color: var(--primary-color);
}

.navbar .dropdown-toggle::after {
  content: "\f282";
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-size: var(--copyright-font-size);
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  left: 2px;
  border: 0;
}


.custom-btn1 {
  background: var(--custom-btn-bg-color);
  border: 2px solid transparent;
  border-radius: 10px;
  color: var(--white-color);
  font-size: 13px;
  font-weight: var(--font-weight-semibold);
  line-height: normal;
  transition: all 0.3s;
  padding: 10px 20px;
  letter-spacing: 0.75px;

}

.custom-btn1:hover {
  background: var(--custom-btn-bg-hover-color);
  color: var(--white-color);
}


@media screen and (min-width: 992px) {
  
  .navbar .dropdown:hover .dropdown-menu {
    opacity: 1;
    margin-top: 0;
    pointer-events: auto;
  }
  
}

.navbar-icon {
  background: var(--white-color);
  border-radius: var(--border-radius-large);
  display: inline-block;
  font-size: var(--h5-font-size);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  transition: all 0.3s ease;
}

.navbar-icon:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

.navbar-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 0;
  width: 30px;
  height: 35px;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: var(--white-color);
  transition: background 10ms 300ms ease;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--white-color);
  width: 30px;
  height: 2px;
  content: '';
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
  top: 8px;
}


/*---------------------------------------
  HERO        
-----------------------------------------*/
.hero-section {
  background-image: linear-gradient(15deg, #ff77 0%, #ff7722 100%);
  position: relative;
  overflow: hidden;
  padding-top: 150px;
  padding-bottom: 150px;
}

.hero-section img{
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 20%;
  max-height: auto;
  border-radius: 50%;
}

.hero-section .input-group {
  background-color: var(--white-color);
  border-radius: var(--border-radius-large);
  padding: 10px 15px;
}

.hero-section .input-group-text {
  background-color: transparent;
  border: 0;
}

.hero-section input[type="search"] {
  border: 0;
  box-shadow: none;
  margin-bottom: 0;
  padding-left: 0;
}

.hero-section button[type="submit"] {
  background-color: var(--primary-color);
  border: 0;
  border-radius: var(--border-radius-large) !important;
  color: var(--white-color);
  max-width: 150px;
}


/*---------------------------------------
  TOPICS              
-----------------------------------------*/
.featured-section {
  background-color: #ff7722;
  border-radius: 0 0 100px 100px;
  padding-bottom: 100px;
}

.featured-section .row {
  position: relative;
  bottom: 100px;
  margin-bottom: -100px;
}

.custom-block {
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
  padding: 30px;
  transition: all 0.3s ease;
  height: 100%;
}

.custom-block:hover {
  background-color: var(--secondary-color);
  transform: translateY(-3px);
}

.custom-block > a {
  width: 100%;
}

.custom-block-image {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-top: 35px;
}

.custom-block .rounded-pill {
  border-radius: 5px !important;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 20px;
}

.custom-block-overlay {
  height: 100%;
  min-height: 350px;
  padding: 0;
}

.custom-block-overlay > a {
  height: 100%;
}

.custom-block-overlay .custom-block-image {
  border-radius: var(--border-radius-medium);
  display: block;
  height: 100%;
  margin-top: 0;
}

.custom-block-overlay-text {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  padding: 30px;
}

.social-share {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  padding: 20px 35px;
}

.social-share .bi-bookmark {
  color: var(--white-color);
  font-size: var(--h5-font-size);
}

.social-share .bi-bookmark:hover {
  color: var(--secondary-color);
}

.bg-design {
  background-color: #80d0ad;
}

.bg-graphic {
  background-color: #00BFA6;
}

.bg-advertising {
  background-color: #008000;
}

.bg-finance {
  background-color: #536DFE;
}

.bg-music {
  background-color: #ff7722;
}

.bg-education {
  background-color: #00BFA6;
}


/*---------------------------------------
  TOPICS               
-----------------------------------------*/
.topics-detail-block {
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
}

.topics-detail-block-image {
  display: block;
  border-radius: var(--border-radius-medium);
}

blockquote {
  background-color: var(--section-bg-color);
  border-radius: var(--border-radius-small);
  font-family: var(--title-font-family);
  font-size: var(--h4-font-size);
  font-weight: var(--font-weight-bold);
  display: inline-block;
  text-align: center;
  margin: 30px;
  padding: 40px;
}

.topics-listing-page .site-header {
  padding-bottom: 65px;
}

.custom-block-topics-listing-info {
  margin: 30px 20px 20px 30px;
}

.custom-block-topics-listing {
  height: inherit;
}

.custom-block-topics-listing .custom-block-image {
  width: 200px;
}

.topic-custom-block-image {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-top: 35px;
}
.topic-process{
  background-image: linear-gradient(15deg, #ff7722, rgb(255, 255, 119));
}

.topic-process-container .vertical-scrollable-timeline {
  list-style-type: none;
  position: relative;
  padding-left: 0;
}

.topic-process-container .vertical-scrollable-timeline .list-progress {
  width: 8px;
  height: 87%;
  background-color: #2a4fa5;
  position: absolute;
  left: 52px;
  top: 0;
  overflow: hidden;
}

.topic-process-container .vertical-scrollable-timeline .list-progress .inner {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: var(--secondary-color);
  width: 100%;
}

.topic-process-container .vertical-scrollable-timeline li {
  position: relative;
  padding: 20px 0px 65px 145px;
}

.topic-process-container .vertical-scrollable-timeline li:last-child {
  padding-bottom: 0;
}

.topic-process-container .vertical-scrollable-timeline li p {
  line-height: 40px;
}

.topic-process-container .vertical-scrollable-timeline li p:last-child {
  margin-bottom: 0;
}

.topic-process-container .vertical-scrollable-timeline li .icon-holder {
  position: absolute;
  left: 0;
  top: 0;
  width: 104px;
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 50%;
  z-index: 1;
  transition: 0.4s all;
}

.topic-process-container .vertical-scrollable-timeline li .icon-holder::before {
  content: "";
  width: 80px;
  height: 80px;
  border: 4px solid #fff;
  position: absolute;
  background-color: var(--secondary-color);
  border-radius: 50%;
  z-index: -1;
  transition: 0.4s all;
}

.topic-process-container .vertical-scrollable-timeline li .icon-holder i {
  font-size: 25px;
  color: var(--white-color);
}

.topic-process-container .vertical-scrollable-timeline li::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 8px;
  background-color: transparent;
  left: 52px;
  z-index: 0;
}

.topic-process-container .vertical-scrollable-timeline li.active .icon-holder {
  background-color: #2a4fa5;
}

.topic-process-container .vertical-scrollable-timeline li.active .icon-holder::before {
  background-color: #2a4fa5;
}

.topic-process .custom-border-btn {
  background: transparent;
  border: 2px solid #2a4fa5;
  color: #2a4fa5;
}
.topic-process h4{
  color: #13547a;
}

.topic-process h2{
  color: #13547a;
}

.topic-process p{
  color: #13547a;
}

.topic-process .custom-border-btn:hover {
  background: #00BFA6;
  border-color: transparent;
  color: var(--white-color);
}

.topic-process .form-container{
  border-radius: 20px;
}

.topic-process .form-container:hover{
  box-shadow: #000000;
  transform: translateY(-3px);
}

.topic-process .applybtn{

background-color: #13547a;
color: white;
}

.topic-process .applybtn:hover{

  transform: translateY(-3px);

}

/*---------------------------------------
  PAGINATION              
-----------------------------------------*/
.pagination {
  margin-top: 40px;
}

.page-link {
  border: 0;
  border-radius: var(--border-radius-small);
  color: var(--p-color);
  font-family: var(--title-font-family);
  margin: 0 5px;
  padding: 10px 20px;
}

.page-link:hover,
.page-item:first-child .page-link:hover,
.page-item:last-child .page-link:hover {
  background-color: var(--secondary-color);
  color: var(--white-color);
}

.page-item:first-child .page-link {
  margin-right: 10px;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
  background-color: var(--section-bg-color);
  border-radius: var(--border-radius-small);
}

.active>.page-link, .page-link.active {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}


/*---------------------------------------
  TIMELINE              
-----------------------------------------*/
.timeline-section {
  background-image: url('../images/food2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.timeline-container .vertical-scrollable-timeline {
  list-style-type: none;
  position: relative;
  padding-left: 0;
}

.timeline-container .vertical-scrollable-timeline .list-progress {
  width: 8px;
  height: 87%;
  background-color: #ff7722;
  position: absolute;
  left: 52px;
  top: 0;
  overflow: hidden;
}

.timeline-container .vertical-scrollable-timeline .list-progress .inner {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: var(--secondary-color);
  width: 100%;
}

.timeline-container .vertical-scrollable-timeline li {
  position: relative;
  padding: 20px 0px 65px 145px;
}

.timeline-container .vertical-scrollable-timeline li:last-child {
  padding-bottom: 0;
}

.timeline-container .vertical-scrollable-timeline li p {
  line-height: 40px;
}

.timeline-container .vertical-scrollable-timeline li p:last-child {
  margin-bottom: 0;
}

.timeline-container .vertical-scrollable-timeline li .icon-holder {
  position: absolute;
  left: 0;
  top: 0;
  width: 104px;
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 50%;
  z-index: 1;
  transition: 0.4s all;
}

.timeline-container .vertical-scrollable-timeline li .icon-holder::before {
  content: "";
  width: 80px;
  height: 80px;
  border: 4px solid #fff;
  position: absolute;
  background-color: var(--secondary-color);
  border-radius: 50%;
  z-index: -1;
  transition: 0.4s all;
}

.timeline-container .vertical-scrollable-timeline li .icon-holder i {
  font-size: 25px;
  color: var(--white-color);
}

.timeline-container .vertical-scrollable-timeline li::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 8px;
  background-color: transparent;
  left: 52px;
  z-index: 0;
}

.timeline-container .vertical-scrollable-timeline li.active .icon-holder {
  background-color: #ff7722;
}

.timeline-container .vertical-scrollable-timeline li.active .icon-holder::before {
  background-color: #ff7722;
}




/*---------------------------------------
  FAQs              
-----------------------------------------*/
.faq-section .accordion-item {
  border: 0;
}

.faq-section .accordion-button {
  font-size: var(--h6-font-size);
  font-weight: var(--font-weight-semibold);
}

.faq-section .accordion-item:first-of-type .accordion-button {
  border-radius: var(--border-radius-large);
}

.faq-section .accordion-button:not(.collapsed) {
  border-radius: var(--border-radius-large);
  box-shadow: none;
  color: var(--primary-color);
}

.faq-section .accordion-body {
  color: var(--p-color);
  font-size: var(--btn-font-size);
  line-height: 40px;
}

@media (max-width: 768px){
  .feedbackhead{
    text-align: center;
  }
}

/*---------------------------------------
  NEWSLETTER               
-----------------------------------------*/
.newsletter-image {
  border-radius: var(--border-radius-medium);
}


/*---------------------------------------
  CONTACT               
-----------------------------------------*/
.google-map {
  border-radius: var(--border-radius-medium);
}

.contact-form .form-floating>textarea {
  border-radius: var(--border-radius-medium);
  height: 150px;
}

.contact .card {
  transition: transform 0.3s ease-in-out;
  margin-top: 40px;
  min-height: 230px;
 background-image: linear-gradient(#ff7722, #ffff7777)
}

.contact .card:hover {
  transform: translateY(-10px);
}

.contact .icon {
  display: inline-block;
  padding: 5px;
  text-align: center;
  color: white;
  font-size: 40px;
}

.contact h5{
  text-align: center;
  color: black;
  font-weight: 900;
}

.contact p{
  text-align: center;
  font-size: 25px;
  padding: 5px;
  color: #000000;
  font-weight: 700;
}


.social-link1{
  font-size: 30px;
  padding: 5px;
  color: #000000;
  
}



/*---------------------------------------
  SUBSCRIBE FORM               
-----------------------------------------*/
.subscribe-form-wrap {
  padding: 50px;
}

.subscribe-form {
  width: 95%;
}


/*---------------------------------------
  CUSTOM FORM               
-----------------------------------------*/
.custom-form .form-control {
  border-radius: var(--border-radius-large);
  color: var(--p-color);
  margin-bottom: 24px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 20px;
  outline: none;
}

.form-floating>label {
  padding-left: 20px;
}

.custom-form button[type="submit"] {
  background: var(--custom-btn-bg-color);
  border: none;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-family: var(--title-font-family);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-semibold);
  transition: all 0.3s;
  margin-bottom: 0;
}

.custom-form button[type="submit"]:hover,
.custom-form button[type="submit"]:focus {
  background: var(--custom-btn-bg-hover-color);
  border-color: transparent;
}


/*---------------------------------------
  SITE FOOTER              
-----------------------------------------*/
.section-padding1 {
  padding-top: 80px;
  padding-bottom: 15px;
}

.site-footer {
/*  border-bottom: 10px solid #ff7722;
  position: relative;
  */
  background-image: linear-gradient(to bottom,#ff7722, #ff77);

}


.site-footer-title {
  color: var(--primary-color); 
}

.site-footer .dropdown-menu {
  padding: 0;
}

.site-footer .dropdown-item {
  color: var(--p-color);
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-medium);
  padding: 4px 18px;
}

.site-footer .dropdown-item:hover {
  background-color: transparent;
  color: var(--primary-color);
}

.site-footer .dropdown-menu li:first-child .dropdown-item {
  padding-top: 10px;
}

.site-footer .dropdown-menu li:last-child .dropdown-item {
  padding-bottom: 12px;
}

.site-footer .dropdown-toggle {
  background-color: var(--secondary-color);
  border-color: var(--white-color);
  padding-top: 5px;
}

.site-footer .dropdown-toggle:hover {
  background-color: var(--primary-color);
  border-color: transparent;
}

.site-footer-links {
  padding-left: 0;
}

.site-footer-link-item {
  display: block;
  list-style: none;
  line-height: normal;
}

.site-footer-link {
  color: white;
  font-size: var(--copyright-font-size);
  font-weight: var(--font-weight-medium);
  line-height: normal;
}

.social-link{
  color: white;
}

.social-link:hover {
  color: #2a4fa5;
}




.site-footer .line{
  width: 100%;
  height: 3px;
  border-bottom: 3px solid #ff7722;
  position: relative;
  border-radius: 100%;  
  align-items: center;
  margin-top: 70px;
}

.copyright-text {
  font-size: var(--copyright-font-size);
  margin-top: 20px;
  margin-bottom: 10px;
}

.footer-td{
  text-align: center;
  justify-content: center;
  width: 200px;
}

@media screen and (max-width: 991px) {

.section-padding1{
  padding-top: 50px;
  padding-right: 40px;
}

.footer-td{
  text-align: center;
  justify-content: center;
  width: 500px;
  padding-bottom: 30px;
}

.site-footer-title{
  text-align: center;
}

.site-footer-links{
  text-align: center;
}



}
/*---------------------------------------
  SOCIAL ICON               
-----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon-item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  background: #80d0ad;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--copyright-font-size);
  display: block;
  margin-right: 10px;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 36px;
  transition: background 0.2s, color 0.2s;
}

.social-icon-link:hover {
  background: var(--primary-color);
  color: var(--white-color);
}


/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (max-width: 991px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  .section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    background-image: linear-gradient(15deg, rgb(255, 255, 119) 0%, #ff7722 100%);
  }

  .navbar-brand {
    display: flex;
    align-items: center;
    margin: 0;
  }

  .navbar-brand img {
    max-width: 60px; /* Adjust logo size */
    height: auto;
    margin-right: 10px;
  }

  .navbar-toggler {
    padding: 5px;
    border: none;
    background-color: transparent;
    outline: none;
  }

  .navbar-toggler .navbar-toggler-icon {
    width: 30px;
    height: 2px;
    background-color: #fff;
    position: relative;
  }

  .navbar-nav .dropdown-menu {
    position: relative;
    left: 10px;
    opacity: 1;
    pointer-events: auto;
    max-width: 155px;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .navbar-expand-lg .navbar-nav {
    padding-bottom: 20px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
  }

  .nav-tabs .nav-link:first-child {
    margin-right: 5px;
  }

  .nav-tabs .nav-link {
    font-size: var(--copyright-font-size);
    padding: 10px;
  }

  .custom-btn1 {
    background: var(--custom-btn-bg-color);
    border: 2px solid transparent;
    border-radius: 10px;
    color: var(--white-color);
    font-size: 15px;
    font-weight: var(--font-weight-semibold);
    line-height: normal;
    transition: all 0.3s;
    padding: 10px 20px;
    margin-left: -20px;
    min-width: 150px;
    margin-top: 10px;
  }
  
  .custom-btn1:hover {
    background: var(--custom-btn-bg-hover-color);
    color: var(--white-color);
  }

  .featured-section {
    border-radius: 0 0 80px 80px;
    padding-bottom: 50px;
  }

  .custom-block-overlay{
    min-height: 600px;
  }

  .custom-block-image{
    height: auto;
  }

  .custom-block-topics-listing .custom-block-image {
    width: auto;
  }

  .custom-block-topics-listing > .d-flex,
  .custom-block-topics-listing-info,
  .custom-block-topics-listing a {
    flex-direction: column;
  }

  .timeline-container .vertical-scrollable-timeline .list-progress {
    height: 85%;
  }

  .timeline-container .vertical-scrollable-timeline li {
    padding-left: 135px;
  }

  .subscribe-form-wrap {
    padding-top: 30px;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 20px;
  }
}



/******************************
*********FLIP CARD***********
*******************************/

.flip-card {
  background-color: transparent;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  height: 500px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}


/* Style the back side */
.flip-card-back {
  background-image: linear-gradient(to top, #ff77, #ff7722);
  color: white;
  transform: rotateY(180deg);
  border-radius: 10px;
  padding: 20px;
}

@media (max-width: 768px ) {
  .flip-card-back {
    font-size: small;
  }
}

/*--------------------------------------------------------------
# Testimonials Section
--------------------------------------------------------------*/

.testimonials .testimonial-item {
  background-image: linear-gradient(#ff77, #ff7722);
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.1);
  box-sizing: content-box;
  padding: 30px;
  margin: 40px 30px;
  min-height: 550px;
  max-height: 550px;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: 0.3s;
  border-radius: 20px;
  
}





.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
}

.testimonials .testimonial-item h4 {
  font-size: 16px;
  color: color-mix(in srgb, var(--default-color), transparent 40%);
  margin: 0;
  padding-top: 15px;
}

.testimonials .testimonial-item p {
  
  padding-top: 15px;
  font-style: italic;
  margin: 0 auto 15px auto;
}

.testimonials .swiper-wrapper {
  height: auto;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: color-mix(in srgb, var(--default-color), transparent 85%);
  opacity: 1;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--accent-color);
}

.testimonials .swiper-slide {
  opacity: 0.3;
}


@media (max-width: 1199px) {
  .testimonials .swiper-slide-active {
    opacity: 1;
  }
  .testimonials .swiper-slide{
    margin-right: 30px;
  }
  .testimonials .swiper-pagination {
    margin-top: 0;
  }

  .testimonials .testimonial-item {
    margin: 40px 20px;
  }
}

@media (min-width: 1200px) {
  .testimonials .swiper-slide-next {
    opacity: 1;
    transform: scale(1.12);
  }
}


.line{
  width: 100%;
  height: 3px;
  border-bottom: 3px solid #ff7722;
  position: relative;
  border-radius: 100%;  
  align-items: center;
  margin-top: 15px;
}


/* Section Styling */
.mission-vision-goal {
  background: #f8f9fa;
}

.mission-vision-goal h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.mission-vision-goal p {
  font-size: 1.2rem;
  color: #555;
}

/* Circular Cards */
.circular-card {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: linear-gradient(135deg, #ff7722, #ff77);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -50px;
  position: relative;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.circular-card:hover {
  transform: scale(1.1);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 255, 119);
}

/* Content Inside Circle */
.circle-content {
  text-align: center;
  padding: 20px;
  margin: 30px;
}

.circle-content h3 {
  font-size: 4rem;
  margin-bottom: 0.5rem;
  color: white;
}

.circle-content p {
  font-size: 1.2rem;
  transition: opacity 0.3s ease;
  margin: 20px;
  color: #13547a;
}

/* Hover Effect to Show More Details */
.circular-card:hover .circle-content p {
  opacity: 1;
}

.mvv{
  max-height: 80px;
}

@media (max-width: 768px) {
  
  .circular-card{
    margin-left: 10px;
    width:95%;
    height: auto;
  }

  .circle-content h3{
    font-size: 2rem !important; 
  }

  .circle-content p{
    font-size: 0.9rem !important; 
    margin-left: 5px;
    margin-right: 5px;
  }

  .circle-content{
    padding: 0;
  }

  .mvv{
    max-height: 60px;
  }



}

@media(max-width:768px){
  .section-title, .founder-name{
    text-align: center !important;
  
  }
  .founder-description{
    text-align: justify;
  }

  .highlight-card{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .founder-image{
    margin-bottom: 40px;
  }

  .idea p{
    font-size: medium;
  }

  .founder-image img {
    width: 300px !important;
    height: 300px !important;
  }


}


/*about page*/

.founder-section {
  padding: 60px 0;
  background: #ff22;
}

.founder-image img {
  width: 400px;
  height: 400px;
  border: 5px solid #ff9800;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.section-title {
  font-size: 32px;
  color: #333;
}

.founder-description {
  font-size: 18px;
  color: #555;
  margin: 20px 0;
}

.founder-quote {
  font-style: italic;
  color: #ff9800;
  font-size: 20px;
  margin: 20px 0;
  background-color: #ff77;
}

.highlight-card {
  background: #ff7722;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.highlight-card i {
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 10px;
}

.highlight-card h4{
  color: #ffffff;
}


.highlight-card p{
  color: #ffffff;
}


/* Scroll to Top Button */
#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  background-color: #00BFA6;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: none; /* Initially hidden */
  transition: opacity 0.3s, visibility 0.3s;
}

#scrollToTopBtn:hover {
  background-color: #ff7722;
}


@media (min-width: 768px){

  .custom-block-overlay1{
    min-height: 1800px;
  }
  
}



/********************************
*******Veg Revolution***********
********************************/

/* Animations */
@keyframes zoomIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.card {
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
}

.hover-zoom {
  animation: zoomIn 0.5s ease-in-out forwards;
}


.read-more-btn {
  transition: background-color 0.3s ease;
}

.read-more-btn:hover {
  background-color: #0056b3;
}

.short-content {
  font-size: 1rem;
  color: #555;
}

.formstar{
  font-size: small;
  color: #000000;
}

/* Container and Card Styling */
.expandable-section {
  background-color: #f4f4f4;
  padding: 20px 0;
  position: relative;
}

.expandable-section:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0.1;
  z-index: -1;
}

.card {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  background-color: #ff77;
}

.card:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
}

.card-img {
  height: 300px;
  object-fit: cover;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom:20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.card-body {
  background-color: #fff;
  padding: 25px;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  min-height: 300px;
}

.card-title {
  font-size: 1.75rem;
  font-weight: 600;
  color: #13547a;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1.1rem;
  color: #777;
  margin-bottom: 10px;
}

.read-more-btn {
  background-color: #ff7722;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
}

.read-more-btn:hover {
  background-color: #0056b3;
  cursor: pointer;
}


/* Grid Styles */
.hidden-grid {
  background-color: rgba(245, 245, 207, 0.467);
  padding: 20px;
  border-radius: 8px;
  animation: fadeIn 0.5s ease-in-out;
}

.grid-card {
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.card-title1 {
  font-size: 1.15rem;
  font-weight: 600;
  color: #13547a;
  margin-bottom: 5px;
}

.paragraph1{
  margin: 0;
  font-size: 1rem;
  color: #444444da;
}


.card-body1 {
  background-color: #fff;
  padding: 25px;
  min-height: 840px;
}

.card-body2 {
  background-color: #fff;
  padding: 25px;
  min-height: 720px;
}

.card-body3 {
  background-color: #fff;
  padding: 25px;
  min-height: 1000px;
}

.card-body4 {
  background-color: #fff;
  padding: 25px;
  min-height: 600px;
}


/* Keyframes for Animation */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: scale(0.95);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}

/* Button Styling */
.read-more-btn {
  background-color: #ff7722;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  transition: background-color 0.3s ease;
}

.read-more-btn:hover {
  background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 767px) {
  .hidden-grid .row > .col-lg-6 {
      margin-bottom: 20px;
  }
}

/* Responsive Design */
@media (max-width: 767px) {
  .card {
    margin-bottom: 30px;
  }
  .card-body {
    padding: 20px;
  }
  .card-title {
    font-size: 1.5rem;
  }
  .card-text {
    font-size: 1rem;
  }
  .card-img{
    margin-right: 20px;
    height: auto;
    width: 90%;
  }
}


#peta-support {
  background: linear-gradient(to right, #f5f9fd, #e8f5e9);
  border-radius: 20px;
}

#peta-support h2 {
  font-weight: bold;
  color: #1a73e8;
}

#peta-support ul li {
  font-size: 18px;
  margin-bottom: 10px;
}

#peta-support .btn-success {
  font-size: 18px;
  transition: transform 0.3s ease;
}

#peta-support .btn-success:hover {
  transform: scale(1.1);
  background-color: #28a745;
}

#peta-support .image-container {
  position: relative;
  overflow: hidden;
}

#peta-support .image-container img {
  border-radius: 15px;
  transform: scale(1);
  transition: transform 0.5s ease;
}

#peta-support .image-container img:hover {
  transform: scale(1.1);
}



#indian-organizations {
  background-color: #f9f9f9;
  border-radius: 15px;
}

#indian-organizations h2 {
  font-weight: bold;
}

#indian-organizations .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#indian-organizations .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

#indian-organizations .btn-success {
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  padding-left: 10px;
  padding-right: 10PX;
}

#indian-organizations .btn-success:hover {
  background-color: #28a745;
  transform: scale(1.1);
}

.indiaorgimg{
  margin-top: 20px; 
  margin-left: 20px; 
  margin-right: 20px;
  border-radius: 5px;
}


#global-organizations {
  background-color: #eef5f9;
  border-radius: 15px;
  padding-bottom: 100px;
  padding-top: 30px;
}

#global-organizations h2 {
  font-weight: bold;
}

#global-organizations .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#global-organizations .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

#global-organizations .btn-success {
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#global-organizations .btn-success:hover {
  background-color: #28a745;
  transform: scale(1.1);
}


/* General Styling */

.container1{
  padding-left: 30px;
  padding-right: 30px;
}


.certify-card {
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-height: 200px;
}

.certify-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}


.certify-content h4 {
  color: #13547a;
  font-weight: bold;
  margin-top: 10px;
}


.custom-btn2{
background-color: #ff7722;
color: #fff;
border-radius: 5px;
padding-top: 20px;
padding-bottom: 20px;
font-size: 15px;
font-weight: var(--font-weight-semibold);
line-height: normal;
transition: all 0.3s;
letter-spacing: 0.75px;
min-width: 300px;
}

.custom-btn2:hover {
  background: var(--custom-btn-bg-hover-color);
  color: var(--white-color);
}

.custom-btn21{
  background-color: #ff7722;
  color: #fff;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 15px;
  font-weight: var(--font-weight-semibold);
  line-height: normal;
  transition: all 0.3s;
  letter-spacing: 0.75px;
  min-width: 400px;
  }
  
  .custom-btn21:hover {
    background: var(--custom-btn-bg-hover-color);
    color: var(--white-color);
  }

@media screen and (max-width: 992px ){
  
  .custom-btn2{
    min-width: 250px;
  }

    .custom-btn21{
      min-width: 250px;
    }

}


.custom-btn3{
  background-color: var(--secondary-color);
  border-color: var(--white-color);
  color: #fff;
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 15px;
  line-height: normal;
  transition: all 0.3s;
  }
  
  .custom-btn3:hover {
    background: var(--custom-btn-bg-hover-color);
    color: var(--white-color);
  }

  