                                        <!-- <form th:attr="action=@{/api/dealers/{id}(id=${dealer.id})}" method="post" enctype="multipart/form-data">
                                            <input type="hidden" name="_method" value="PUT">
                                            <div class="row" style="padding-left: 30px;">
                                                <div class="col-md-6 text-center mb-4">
                                                    <div class="position-relative">
                                                        <img th:src="@{'/api/dealers/' + ${dealer.id} + '/profilepic'}" alt="Profile Picture"  class="rounded-circle shadow-sm" style="width: 250px; height: 250px; object-fit: cover;">
                                                        <label for="profilePicInput" class="position-absolute bottom-0  mb-2 me-2 btn btn-sm btn-light rounded-circle shadow-sm" style="width: 35px; height: 35px;">
                                                            <i class="fas fa-camera"></i>
                                                            <input type="file" id="profilePicInput" name="profilepic" class="d-none" accept="image/*">
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 text-center mb-6">
                                                    <div class="position-relative">

                                                        <img th:src="@{'/api/dealers/' + ${dealer.id} + '/govtIdFile'}" alt="Govt ID"  class="shadow-sm" style="width: 100%; height: auto; max-height: 250px; object-fit: cover;">
                                                        <label for="govtIdFileInput" class="position-absolute bottom-0  mb-2 me-2 btn btn-sm btn-light rounded-circle shadow-sm" style="width: 35px; height: 35px;">
                                                            <i class=" fas fa-camera"></i>
                                                            <input type="file" id="govtIdFileInput" name="govtIdFile" class="d-none" accept="image/*">
                                                        </label>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                                
                                            <div class="row" style="padding-left: 30px;">
                                                <div class="col-md-6">
                                                    <p style="padding-left: 4px"><strong>Username:</strong> <span th:text="${dealer.username}"></span></p>
                                                    
                                                    <div class="form-group">
                                                        <label for="fullName"><p><strong>Full Name:</strong></p></label>
                                                        <input type="text" id="fullName" name="fullName" th:value="${dealer.fullName}" style="border-radius: 5px; border: 0;" required>
                                                    </div> -->
                                                    <!-- <p><strong>Full Name:</strong> <span th:text="${dealer.fullName}"></span></p> -->
                                                    <!-- <div class="form-group">
                                                        <label for="mobile"><p><strong>Mobile:</strong></p></label>
                                                        <input type="text" id="mobile" name="mobile" th:value="${dealer.mobile}" style="border-radius: 5px; border: 0;"  required>
                                                    </div> -->
                                                    <!-- <p><strong>Mobile:</strong> <span th:text="${dealer.mobile}"></span></p> -->
                                                    <!-- <div class="form-group">
                                                        <label for="city"><p><strong>City:</strong></p></label>
                                                        <input type="text" id="city" name="city" th:value="${dealer.city}" style="border-radius: 5px; border: 0;"  required>
                                                    </div> -->
                                                    <!-- <p><strong>City:</strong> <span th:text="${dealer.city}"></span></p> -->
                                                    <!-- <div class="form-group">
                                                        <label for="address"><p><strong>Address:</strong></p></label>
                                                        <input type="text" id="address" name="address" th:value="${dealer.address}" style="border-radius: 5px; border: 0; width: 80%;"  required>
                                                    </div> -->
                                                    <!-- <p><strong>Address:</strong> <span th:text="${dealer.address}"></span></p> -->
                                                <!-- </div>
                                                <div class="col-md-6">
                                                    <p style="padding-left: 4px"><strong>Email:</strong> <span th:text="${dealer.email}"></span></p>
                                                    <div class="form-group">
                                                        <label for="state"><p><strong>State:</strong></p></label>
                                                        <input type="text" id="state" name="state" th:value="${dealer.state}" style="border-radius: 5px; border: 0;"  required>
                                                    </div> -->
                                                    <!-- <p><strong>State:</strong> <span th:text="${dealer.state}"></span></p> -->
                                                    <!-- <div class="form-group">
                                                        <label for="govtId"><p><strong>Govt ID:</strong></p></label>
                                                        <input type="text" id="govtId" name="govtId" th:value="${dealer.govtId}" style="border-radius: 5px; border: 0;"  required>
                                                    </div> -->
                                                    <!-- <p><strong>Govt ID:</strong> <span th:text="${dealer.govtId}"></span></p> -->
                                                    <!-- <div class="form-group">
                                                        <label for="govtIdNumber"><p><strong>Govt ID Number:</strong></p></label>
                                                        <input type="text" id="govtIdNumber" name="govtIdNumber" th:value="${dealer.govtIdNumber}" style="border-radius: 5px; border: 0;"  required>
                                                    </div> -->
                                                    <!-- <p><strong>Govt ID Number:</strong> <span th:text="${dealer.govtIdNumber}"></span></p> -->
                                                    <!-- <div class="form-group">
                                                        <label for="profilePicInput"><p><strong>Profile Picture:</strong></label>
                                                        <input type="file" id="profilePicInput" name="profilepic" accept="image/*" style="color: #13547a;">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="govtIdFileInput"><p><strong>Government ID File:</strong></label>
                                                        <input type="file" id="govtIdFileInput" name="govtIdFile" accept="image/*" style="color: #13547a;">
                                                    </div> -->
                                                <!-- </div>
                                                <div class="col-md-10" style="text-align: center;">
                                                    <button type="submit" class="btn" style="color: white; background-color: #ff7722; width: 300px; margin-top: 10px;">Update Profile</button>
                                                    <div th:if="${message}" class="alert alert-success" th:text="${message}">
                                                </div>
                                            </div>
                                        </form>     -->







                                        <!-- <form th:attr="action=@{/api/dealers/{id}(id=${dealer.id})}" method="post" enctype="multipart/form-data">
                                            <input type="hidden" name="_method" value="PUT">
                                            <div class="form-group">
                                                <label for="fullName">Full Name</label>
                                                <input type="text" id="fullName" name="fullName" th:value="${dealer.fullName}" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="mobile">Mobile</label>
                                                <input type="text" id="mobile" name="mobile" th:value="${dealer.mobile}" required>
                                            </div>

                                            <div class="form-group">
                                                <label for="state">State</label>
                                                <input type="text" id="state" name="state" th:value="${dealer.state}" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="address">Address</label>
                                                <input type="text" id="address" name="address" th:value="${dealer.address}" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="govtId">Govt ID</label>
                                                <input type="text" id="govtId" name="govtId" th:value="${dealer.govtId}" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="govtIdNumber">Govt ID Number</label>
                                                <input type="text" id="govtIdNumber" name="govtIdNumber" th:value="${dealer.govtIdNumber}" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="profilePicInput">Profile Picture</label>
                                                <input type="file" id="profilePicInput" name="profilepic" accept="image/*">
                                            </div>
                                            <div class="form-group">
                                                <label for="govtIdFileInput">Government ID File</label>
                                                <input type="file" id="govtIdFileInput" name="govtIdFile" accept="image/*">
                                            </div>
                                            <button type="submit">Update Profile</button>
                                            <div th:if="${message}" class="alert alert-success" th:text="${message}"></div>

                                        </form> -->


                                        