<!doctype html>
<html lang="en" 
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="icon" type="image/png" href="/img/Logo.png">
        <title>Pavnam | About Certificate</title>

        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
                        
        <link href="/css/bootstrap.min.css" rel="stylesheet">

        <link href="/css/bootstrap-icons.css" rel="stylesheet">

        <link href="/css/style1.css" rel="stylesheet">

        <link href="/css/animations.css" rel="stylesheet">   

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" />


    </head>
    
    <body class="topics-listing-page" id="top">

        <main>

            <!-- Navigation Bar Start-->
            <nav class="navbar navbar-expand-lg" >
                <div class="container d-flex align-items-center">
                    <a class="navbar-brand" href="/">
                        <img src="/img/Logo.png">
                        <span style="color: #13547a;">पावनम्</span>
                    </a>
    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-5 me-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="/">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="/certification">About Certification</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="/about">About us</a>
                            </li>

                           <li class="nav-item">
                                <a class="nav-link click-scroll" href="/vegrevolution">Veg Revolution</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="/supporting">Supporting Cause</a>
                            </li>                            

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="/faq">FAQs</a>
                            </li>
    
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="/contact">Contact us</a>
                            </li>

                            <li class="nav-item" style="margin-top: 5px; margin-left: 20px;">
                                <a class="btn custom-btn1" href="/certification#applyForm">Apply Now</a>
                            </li>

                            <li class="nav-item" style="margin-top: 5px; margin-left: 20px;">
                                <a class="btn custom-btn1" href="/pavnamcms">Login <i class="bi bi-person-circle"></i> </a>
                            </li>
                        </ul>
  
                    </div>
                </div>
            </nav>
            <!--Navigation Bar END-->


            <header class="site-header d-flex flex-column justify-content-center align-items-center">
                <div class="container">
                    <div class="row justify-content-center align-items-center">

                        <div class="col-lg-5 col-12 mb-5 fade-in-left">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Homepage</a></li>

                                    <li class="breadcrumb-item active" aria-current="page">About Certification</li>
                                </ol>
                            </nav>
                            <h2 class="text-white">About Pavnam Certification</h2>
                        </div>

                        <div class="col-lg-5 col-12 fade-in-right">
                            <div class="topics-detail-block">
                                <img src="/img/aboutcertification.webp" class="topics-detail-block-image img-fluid">
                            </div>
                        </div>

                    </div>
                </div>
            </header>

            <!--About Certification Start-->
            <section class="section-padding">
                <div class="container1">
                    <div class="row fade-in-right">

                        <div class="col-lg-12 col-12 text-center ">
                            <h3 class="mb-4">About Certification</h3>
                        </div>

                        <div class="col-lg-8 col-12 mt-3 mx-auto " style="min-width: 90%">
                            <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                                <div class="d-flex" >
                                    <img src="/img/Logo.png" class="custom-block-image img-fluid">

                                    <div class="custom-block-topics-listing-info d-flex">
                                        <div>
                                            <h5 class="mb-2">Pavnam</h5>

                                            <p class="mb-0">The Pavnam Certificate is a trusted hallmark awarded to food business owners who meet our stringent standards for offering 100% pure vegetarian food. Through rigorous inspections and thorough evaluations, we ensure that certified establishments adhere to uncompromising standards of purity, hygiene, and contamination-free practices.</p><br>   
                                            <p class="mb-0">This certification guarantees that the food you enjoy from our certified vendors is prepared using only vegetarian ingredients, devoid of any cross-contamination, and crafted in a clean, sanitary environment. Pavnam Certification isn’t just a badge—it’s our promise of authenticity, integrity, and respect for vegetarian values.</p><br>
                                            <p class="mb-0">By choosing Pavnam-certified establishments, you’re choosing peace of mind and the assurance that your meals align with the highest standards of vegetarian purity.</p><br>
                                               
                                        </div>
                                        <span class="badge bg-music rounded-pill ms-auto"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--About Certification END-->

            <!--About Logo Words-->
            <section class="section-padding" style="background-image: linear-gradient(15deg, #ff7722 0%, #ff77 100%);">
                <div class="container1 text-center" >
                    <div class="text-center mb-5"   >
                        <h3 class="mb-4" style="text-align:center;">What our Logo Represents?</h3>
                    </div>
                      
                      <div class="line" style="margin-top: -15px; margin-bottom: 40px;"></div> 
                    <div class="row">
                        <!-- Card 1: Akalmasha -->
                        <div class="col-lg-3 col-md-6 my-3">
                            <div class="card shadow border-0">
                                <div class="card-body">
                                    <h4 class="card-title">अकल्मष <br> (Akalmasha)</h4><br>
                                    <p><b> Free from impurities, spotless, and unblemished.</b></p>
                                </div>
                            </div>
                        </div>
                
                        <!-- Card 2: Naishkalmya -->
                        <div class="col-lg-3 col-md-6 my-3">
                            <div class="card shadow border-0">
                                <div class="card-body">
                                    <h4 class="card-title">नैष्कल्म्य <br> (Naishkalmya)</h4><br>
                                    <p><b> Freedom from sin or guilt, purity of actions and thoughts.</b></p>
                                </div>
                            </div>
                        </div>
                
                        <!-- Card 3: Vaimalya -->
                        <div class="col-lg-3 col-md-6 my-3">
                            <div class="card shadow border-0">
                                <div class="card-body">
                                    <h4 class="card-title">वैमल्य <br> (Vaimalya)</h4><br>
                                    <p><b> Clarity, serenity, and the quality of being free from all contamination.</b></p>
                                </div>
                            </div>
                        </div>
                
                        <!-- Card 4: Pavitrata -->
                        <div class="col-lg-3 col-md-6 my-3">
                            <div class="card shadow border-0">
                                <div class="card-body">
                                    <h4 class="card-title">पवित्रता <br> (Pavitrata)</h4><br>
                                    <p><b> Sacredness, holiness, and the state of being pure and pious.</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--About Logo End-->

            <!--What We certify Start-->
            <section id="what-we-certify" class="section-padding  bg-light">
                <div class="container">
                    <div class="text-center mb-5">
                        <h2 class="section-title">What Do We Certify?</h2>
                        <p class="section-subtitle">We provide certifications across a wide range of food services, businesses, and products to ensure quality and trust.</p>
                    </div>
                    <div class="line" style="margin-top: -15px; margin-bottom: 40px;"></div>
                    <div class="row">
                        <!-- Certification Item 1 -->
                        <div class="col-lg-4 col-md-6 my-3">
                            <div class="certify-card shadow">
               
                                <div class="certify-content p-3">
                                    <h4>Small Food Carts/Vendors</h4>
                                    <p>Ensuring street food vendors provide pure veg food and meet hygiene and safety standards for public trust.</p>
                                </div>
                            </div>
                        </div>
            
                        <!-- Certification Item 2 -->
                        <div class="col-lg-4 col-md-6 my-3">
                            <div class="certify-card shadow">
                        
                                <div class="certify-content p-3">
                                    <h4>Small Food Shops</h4>
                                    <p>
                                        Ensuring small food outlets uphold quality, hygiene, and a commitment to pure vegetarian standards. 
                                    </p>
                                </div>
                            </div>
                        </div>
            
                        <!-- Certification Item 3 -->
                        <div class="col-lg-4 col-md-6 my-3">
                            <div class="certify-card shadow">
                 
                                <div class="certify-content p-3">
                                    <h4>Food Trucks</h4>
                                    <p>Promoting safety and hygiene standards for mobile food trucks with surety of vegetarian food.</p>
                                </div>
                            </div>
                        </div>
            
                        <!-- Certification Item 4 -->
                        <div class="col-lg-4 col-md-6 my-3">
                            <div class="certify-card shadow">
                  
                                <div class="certify-content p-3">
                                    <h4>Cafes</h4>
                                    <p>Ensuring premium standards for coffee houses and casual dining spaces with no contamination of non veg food.</p>
                                </div>
                            </div>
                        </div>
            
                        <!-- Certification Item 5 -->
                        <div class="col-lg-4 col-md-6 my-3">
                            <div class="certify-card shadow">
                    
                                <div class="certify-content p-3">
                                    <h4>Restaurants</h4>
                                    <p>Certifying fine dining and family restaurants for quality, safety, hygiene and animal free food.</p>
                                </div>
                            </div>
                        </div>
            
                        <!-- Certification Item 6 -->
                        <div class="col-lg-4 col-md-6 my-3">
                            <div class="certify-card shadow">
                
                                <div class="certify-content p-3">
                                    <h4>Hotel/Resorts</h4>
                                    <p>Guaranteeing luxurious stays with exceptional hygiene and service standards and top pure veg food quality.</p>
                                </div>
                            </div>
                        </div>
            
                        <!-- Certification Item 7 -->
                        <div class="col-lg-4 col-md-6 my-3">
                            <div class="certify-card shadow">
                              
                                <div class="certify-content p-3">
                                    <h4>Working Staff</h4>
                                    <p>Certifying staff for skills, hygiene, safety training and their commitment in providing pure veg food.</p>
                                </div>
                            </div>
                        </div>
            
                        <!-- Certification Item 8 -->
                        <div class="col-lg-4 col-md-6 my-3">
                            <div class="certify-card shadow">

                                <div class="certify-content p-3">
                                    <h4>Food Products</h4>
                                    <p>Certifying quality and compliance of vegetarianism for loose and freshly prepared food products.</p>
                                </div>
                            </div>
                        </div>
            
                        <!-- Certification Item 9 -->
                        <div class="col-lg-4 col-md-6 my-3">
                            <div class="certify-card shadow">
                                
                                <div class="certify-content p-3">
                                    <h4>Packaged Food Products</h4>
                                    <p>Ensuring compliance with food safety regulations and vegetarianism for packaged goods.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--What we certify End-->

            <!--Process Start-->
            <section class="topic-process section-padding" id="applicationForm">

                <div class="container">
                    <div class="row">

                        <div class="col-12 text-center">
                            
                        </div>
                        <!--Process Column-->
                        <div class="col-lg-6 col-12">

                            <h2 class="mb-4">How does it work?</h1>
                            <div class="topic-process-container">
                                <ul class="vertical-scrollable-timeline" id="vertical-scrollable-timeline">
                                    <div class="list-progress">
                                        <div class="inner"></div>
                                    </div>

                                    <li>
                                        <h4 class=" mb-3">Fill the Application Form</h4>

                                        <p class="text-white">To begin the Pavnam Certification process, please complete the application form with all the necessary details, including your business information, compliance with vegetarian food standards, and hygiene practices.</p>

                                        <div class="icon-holder">
                                          <i class="bi bi-pencil-square"></i>
                                        </div>
                                    </li>
                                    
                                    <li>
                                        <h4 class=" mb-3">Pricing &amp; Review</h4>

                                        <p class="text-white">The pricing details will be provided once the application form is submitted, and each application will undergo a thorough review to ensure compliance with the standards of purity and hygiene.

                                        </p>

                                        <div class="icon-holder">
                                          <i class="bi bi-currency-rupee"></i>
                                        </div>
                                    </li>

                                    <li>
                                        <h4 class=" mb-3">On-site Audit </h4>

                                        <p class="text-white">A physical inspection or verification process where experts evaluate the facilities to ensure they meet the standards required for certification.
                                            
                                        </p>

                                        <div class="icon-holder">
                                          <i class="bi bi-search"></i>
                                        </div>
                                    </li>

                                    <li>
                                        <h4 class=" mb-3"> Final Review</h4>

                                        <p class="text-white">A thorough assessment of all documentation, results from the onsite audit, and compliance with the specified guidelines, ensuring everything is in order before approval.
                                            
                                        </p>

                                        <div class="icon-holder">
                                          <i class="bi bi-patch-check"></i>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>


                        <!-- Application Form Column:  -->
                        <div class="col-lg-6 col-12">
                            <div class="form-container p-4 bg-light shadow">
                                <h4 class="text-center mb-4" style="font-weight:bolder;">Apply for Certification</h4>
                                <p class="formstar"> <span style="color: red;">*</span> marked fields are required</p>
                                <!--*********FORM START***********-->
                                <form class="applicationForm"  id="applyForm">
                                    <div class="mb-3">
                                        <label for="businessName" class="form-label">Business Name <span style="color: red;">*</span></label>
                                        <input type="text" class="form-control" id="businessName" name="businessName" required>
                                    </div>

                                    <div class="mb-3">
                                        <label for="businessType" class="form-label">Business Type <span style="color: red;">*</span></label>
                                        <select class="form-select" id="businessType" name="businessType" required>
                                            <option value="" disabled selected>Select Business Type</option>
                                            <option value="smallCart">Small Cart Vendors</option>
                                            <option value="foodTruck">Food Truck</option>
                                            <option value="smallShop">Small Food Shop</option>
                                            <option value="resturants">Resturant/Cafe</option>
                                            <option value="hotel">Hotel/Resort</option>
                                            <option value="food">Food Product</option>
                                            <option value="staff">Working Staff</option>
                                            <option value="manufacturer">Food Manufacturer</option>
                                        </select>
                                    </div>

                                    <div class="mb-3">
                                        <label for="email" class="form-label">Business Email ID <span style="color: red;">*</span></label>
                                        <input type="email" class="form-control" id="email" name="email" required>
                                    </div>

                                    <div class="mb-3">
                                        <label for="contactNumber" class="form-label">Business Contact Number <span style="color: red;">*</span></label>
                                        <input type="tel" class="form-control" id="contactNumber" name="contactNumber" required>
                                    </div>

                                    <div class="mb-3">
                                        <label for="address" class="form-label">Business Address <span style="color: red;">*</span></label>
                                        <textarea class="form-control" id="address" name="address" rows="3" required></textarea>
                                    </div>

                                    <div class="mb-3">
                                        <label for="licenceNumber" class="form-label">FSSAI Registration / Licence number</label>
                                        <input type="text" class="form-control" id="licenceNumber" name="licenceNumber">
                                    </div>

                                    <div class="mb-3">
                                        <label for="ownerName" class="form-label">Owner name <span style="color: red;">*</span></label>
                                        <input type="text" class="form-control" id="ownerName" name="ownerName" required>
                                    </div>

                                    <div class="mb-3">
                                        <label for="governmentId" class="form-label">Government ID <span style="color: red;">*</span></label>
                                        <select class="form-select" id="governmentId" name="governmentId" required>
                                            <option value="" disabled selected>Select Government ID</option>
                                            <option value="aadhar">Aadhar Card</option>
                                            <option value="pan">Pan Card</option>
                                            <option value="votersId">Voters ID</option>
                                            <option value="drivingLicence">Driving Licence</option>
                                        </select>
                                    </div>

                                    <div class="mb-3">
                                        <label for="governmentIdNumber" class="form-label">Government Id Number : Selected Above <span style="color: red;">*</span></label>
                                        <input type="text" class="form-control" id="governmentIdNumber" name="governmentIdNumber" required>
                                    </div>

                                    <div class="mb-3">
                                        <label for="website" class="form-label">Website (If Any)</label>
                                        <input type="text" class="form-control" id="website" name="website">
                                    </div>

                                    <div class="mb-3">
                                        <label for="productDetails" class="form-label">Food Product details</label>
                                        <input type="text" class="form-control" id="productDetails" name="productDetails">
                                    </div>

                                    <div class="mb-3">
                                        <label for="manufactuingDetails" class="form-label">Is manufacturing and packaging in a separate unit?</label>
                                        <input type="text" class="form-control" id="manufactuingDetails" name="manufactuingDetails">
                                    </div>

                                    <div class="mb-3">
                                        <label for="hearAboutUs" class="form-label">How did you hear about this Certification?</label>
                                        <input type="text" class="form-control" id="hearAboutUs" name="hearAboutUs">
                                    </div>

                                    <button type="submit" class="btn w-100 applybtn">Submit Application</button>
                                </form>
                                <!--***********FORM END***********-->   
                                
                                <div class="modal" id="successModal" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Success</h5>
                                            </div>
                                            <div class="modal-body">
                                                <p>Form submitted successfully!</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                        </div> 
                        
                    </div>
                </div>
            </section>
            <!--Process END-->

            <!--Things to keep in mind Start-->
            <section class="section-padding section-bg ">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12">
                            <h3 class="mb-4" style="text-align: center;">Things to Keep in Mind</h3>
                        </div>
                        <div class="line" style="margin-bottom: 50px;"></div>

                        <div class="col-lg-6 col-md-6 col-12 mt-3 mb-4 mb-lg-0 fade-in-left">
                            <div class="custom-block bg-white shadow-lg">
                                    <div class="d-flex">
                                        <div>
                                            <h5 class="mb-2">Terms and Conditions</h5>

                                            <p><span style="font-size: medium; font-weight: 600;">•	Eligibility:</span> <span style="font-size: 14px;">Food Safety Certificate is available to individuals or businesses involved in food handling, preparation, storage, and distribution within the food industry.</span></p>
                                            <p><span style="font-size: medium; font-weight: 600;">•	Issuance of the Certificate: </span><span style="font-size: 14px;">Upon successful completion of the required checks and examination, the Food Safety Certificate will be issued and The certificate is valid for a specific period (e.g., 1 or 3 years), after which it must be renewed. <span></p>
                                            <p><span style="font-size: medium; font-weight: 600;">•	Responsibilities of Certificate Holders: </span><span style="font-size: 14px;">The certificate holder is responsible for implementing food safety practices at all times during food production, storage, and sale.</p>
                                            <p><span style="font-size: medium; font-weight: 600;">•	Renewal of Certificate: </span><span style="font-size: 14px;">The Food Safety Certificate must be renewed before it expires to ensure continuous compliance with food safety regulations.</span></p>
                                            <p><span style="font-size: medium; font-weight: 600;">•	Suspension or Revocation of the Certificate: </span><span style="font-size: 14px;">The certifying body reserves the right to suspend or revoke a Food Safety Certificate if the holder fails to comply with food safety standards, regulations, or any terms of this agreement.</span></p>
                                            <p><span style="font-size: medium; font-weight: 600;">•	Confidentiality: </span><span style="font-size: 14px;">Any personal information provided during the application and certification process will be treated as confidential and will only be used for purposes related to the certification.</span></p>
                                        </div>

                                        <span class="badge bg-advertising rounded-pill ms-auto"></span>
                                    </div>
                                    <img src="/img/termcondition.jpg" class="topic-custom-block-image img-fluid"  alt="">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-12 mt-lg-3 fade-in-right">
                            <div class="custom-block custom-block-overlay bg-white shadow-lg" >
                                <div class="d-flex flex-column h-100">


                                    <div class="custom-block-overlay-text d-flex">
                                        <div>
                                            <h5 class="text-white mb-2">Guidelines</h5>

                                            <p class="text-white"><span style="font-size: medium; font-weight: 600;">•	Exclusion of Animal-Derived Ingredients:</span> <span style="font-size: 14px;">All forms of meat, including beef, chicken, lamb, and other types of animal flesh, must be excluded. The use of eggs (or egg-derived products) is not permitted in pure vegetarian food. Ingredients like animal-based stock, meat broths, or animal-based flavours.</span></p>
                                            <p class="text-white"><span style="font-size: medium; font-weight: 600;">•	Vegetarian Sources of Ingredients: </span><span style="font-size: 14px;">All ingredients must come from plant sources, such as vegetables, grains, legumes, nuts, seeds, fruits, and plant-based oils such as sunflower, soybean, olive, canola, or coconut oils. In the case of fermented products (e.g., bread, cheese), the enzymes or cultures used must be of plant origin. Animal-derived enzymes such as rennet (used in cheese-making) must not be used. <span></p>
                                            <p class="text-white"><span style="font-size: medium; font-weight: 600;">•	Avoidance of Harmful Additives: </span><span style="font-size: 14px;">Food additives such as gelatine, which is derived from animal collagen, and other animal-based stabilizers, emulsifiers, or colorants must be avoided. Examples include cochineal (a red dye) and carmine. Where needed, plant-based alternatives to emulsifiers, stabilizers, and colorants must be used. Common vegetarian substitutes include agar-agar (instead of gelatine) and plant-based emulsifiers.</p>
                                            <p class="text-white"><span style="font-size: medium; font-weight: 600;">•	Equipment and Facility Standards: </span><span style="font-size: 14px;">Preparation, processing, and manufacturing equipment used for pure vegetarian products should be dedicated exclusively to vegetarian food. Cross-contamination with non-vegetarian products must be strictly prevented.</span></p>
                                            <p class="text-white"><span style="font-size: medium; font-weight: 600;">•	Raw Material Sourcing: </span><span style="font-size: 14px;">All raw materials used in the production process must be verified to be free from animal-derived substances. It is essential to ensure that all raw materials, even if of plant origin, are free from contamination from non-vegetarian sources during transport, storage, or processing.</span></p>
                                            <p class="text-white"><span style="font-size: medium; font-weight: 600;">•	Handling and Labelling: </span><span style="font-size: 14px;">Products should be clearly labelled as “Pure Vegetarian” or “Vegetarian” and all ingredients, including additives, preservatives, and flavourings, should be transparently listed on the product label. </span></p>
                                        </div>

                                        <span class="badge bg-advertising rounded-pill ms-auto"></span>
                                    </div>

                                    <div class="section-overlay"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!--Things to keep in mind END-->
        </main>

        <!-- Footer Start-->
        <footer class="site-footer section-padding1">
            <div class="container" style="padding-left: 40px;">
                <div class="row" >

                    <div class="col-sm">
                        <table>
                            <tr>
                                <td class="footer-td" style="padding-bottom: 10px;"><a href="/">
                                    <img src="/img/Logo.png" style="max-width: 150px; border-radius: 100%;"></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="footer-td">
                                    <a href="/"><h3>Pavnam</h3></a>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="col-sm">
                        <h6 class="site-footer-title mb-3">Resources</h6>

                        <ul class="site-footer-links">
                            <li class="site-footer-link-item">
                                <a href="/" class="site-footer-link">Home</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="/certification" class="site-footer-link">About Certification</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="/about" class="site-footer-link">About us</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="/vegrevolution" class="site-footer-link">Veg Revolution</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a class="site-footer-link" href="/supporting">Supporting Cause</a>
                            </li>     

                            <li class="site-footer-link-item">
                                <a href="/faq" class="site-footer-link">FAQs</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="/contact" class="site-footer-link">Contact us</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm">
                        <h6 class="site-footer-title mb-3">Information</h6>

                        <ul class="site-footer-links">


                            
                            <li class="site-footer-link-item">
                                <a href="tel: 305-240-9671" class="site-footer-link"> 305-240-9671 </a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="mailto:info@pavnam.com" class="site-footer-link">info@pavnam.com</a>
                            </li>

                            <li class="site-footer-link-item">
                                <div class="row justify-content-left" style="padding-top: 5px;">
                                    <!-- Facebook -->
                                    <div class="col-3 col-sm-1">
                                        <a href="https://facebook.com" target="_blank" class="social-link">
                                            <i class="bi bi-facebook "></i>
                                        </a>
                                    </div>
                        
                                    <!-- Instagram -->
                                    <div class="col-3 col-sm-1">
                                        <a href="https://instagram.com" target="_blank" class="social-link">
                                            <i class="bi bi-instagram "></i>
                                        </a>
                                    </div>
                        
                                    <!-- Twitter -->
                                    <div class="col-3 col-sm-1">
                                        <a href="https://twitter.com" target="_blank" class="social-link">
                                            <i class="bi bi-twitter "></i>
                                        </a>
                                    </div>
                        
                                    <!-- LinkedIn -->
                                    <div class="col-3 col-sm-1">
                                        <a href="https://linkedin.com" target="_blank" class="social-link">
                                            <i class="bi bi-linkedin "></i>
                                        </a>
                                    </div>
                                </div>
                            </li>

                            <li class="site-footer-link-item" style="margin-top: 15px;">
                                <a class="btn custom-btn3" href="/pavnamcms">Login <i class="bi bi-person-circle"></i> </a>
                            </li>

                            <li class="site-footer-link-item">
                                <div class="dropdown" style="margin-top: 10px;">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    English</button>
        
                                    <ul class="dropdown-menu">
                                        <li><button class="dropdown-item" type="button">Hindi</button></li>
        
                                        <li><button class="dropdown-item" type="button">Tamil</button></li>
        
                                        <li><button class="dropdown-item" type="button">Kannada</button></li>
                                    </ul>
                                </div> 
                            </li>
                        </ul>

                    </div>

                    

                </div>
                
                <div class="row">
                    <div class="col-12  text-center">
                        <div class="line align-items-center"></div> 
                        <p class="copyright-text"> Copyright © 2024 <a href="/">Pavnam</a>. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
        <!--Footer END-->

        <!-- Scroll to Top Button -->
        <button id="scrollToTopBtn" title="Go to top"><i class="bi bi-chevron-double-up"></i></button>        

        <!-- JAVASCRIPT FILES -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/jquery.sticky.js"></script>
        <script src="/js/custom.js"></script>
        <script src="/js/scrollToTopBtn.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
        <script src="/js/applyform.js"></script>
        <script>
         AOS.init();
        </script>

    </body>
</html>