<!doctype html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="Pavnam - The check of Authenticity">
        <meta name="author" content="IT VOICE">
        <link rel="icon" type="image/png" href="/img/Logo.png">
        <title>Pavnam | CMS</title>

        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
                        
        <link href="/css/bootstrap.min.css" rel="stylesheet">

        <link href="/css/bootstrap-icons.css" rel="stylesheet">

        <link href="/css/style1.css" rel="stylesheet">   
        
        <link href="/css/animations.css" rel="stylesheet">

        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
        
    </head>
    
    <body id="top">

        <main>

            <!-- Navigation Bar Start-->
            <nav class="navbar navbar-expand-lg" style="background-image: linear-gradient(15deg, rgb(252, 190, 34) 0%, #ff7722 100%);">
                <div class="container d-flex align-items-center">
                    <a class="navbar-brand" href="/">
                        <img src="/img/Logo.png">
                        <span style="color: #13547a;">पावनम्</span>
                    </a>
    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-5 me-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="/">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="/certification">About Certification</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="/about">About us</a>
                            </li>

                           <li class="nav-item">
                                <a class="nav-link click-scroll" href="/vegrevolution">Veg Revolution</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="/supporting">Supporting Cause</a>
                            </li>                            

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="/faq">FAQs</a>
                            </li>
    
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="/contact">Contact us</a>
                            </li>

                            <li class="nav-item" style="margin-top: 5px; margin-left: 20px;">
                                <a class="btn custom-btn1" href="/certification#applyForm">Apply Now</a>
                            </li>

                            <li class="nav-item" style="margin-top: 5px; margin-left: 20px;">
                                <a class="btn custom-btn1" href="/pavnamcms">Login <i class="bi bi-person-circle"></i> </a>
                            </li>
                        </ul>
  
                    </div>
                </div>
            </nav>
            <!--Navigation Bar END-->




   

            <!-- Hero Section Start-->
            <section class="hero-section d-flex justify-content-center align-items-center">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-8 col-12 mx-auto fade-in-center">

                            <img src="/img/Logo.png">

                            <h1 class="text-white text-center">Welcome to Pavnam </h1>

                            <h6 class="text-center">Mark of Purity in Vegetarian food</h6>

                        </div>

                        <div class="row justify-content-center" style="column-gap: 50px;">
                            <div class="col-md-4 col-sm-6 d-flex justify-content-center mb-3 fade-in-left" style="margin-top: 50px;">
                                <a class="btn custom-btn2"  href="/login" >Login</a>
                            </div>

                        </div>
                        <div class="row justify-content-center" style="column-gap: 200px">
                            <div class="col-md-4 col-sm-6 d-flex justify-content-center mb-3 fade-in-left" style="margin-top: 50px; ">
                                <a class="btn custom-btn21"  href="/register/admin" > Dealers Registration</a>
                            </div>
                            <div class="col-md-4 col-sm-6 d-flex justify-content-center mb-3 fade-in-right" style="margin-top: 50px;">
                                <a class="btn custom-btn21"  href="/certification#applyForm"> Certificate Registration</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Hero Section END-->

            <section class="section">

            </section>


        </main>
            
        <!-- Footer Start-->
        <footer class="site-footer section-padding1">
            <div class="container" style="padding-left: 40px;">
                <div class="row" >

                    <div class="col-sm">
                        <table>
                            <tr>
                                <td class="footer-td" style="padding-bottom: 10px;"><a href="/">
                                    <img src="/img/Logo.png" style="max-width: 150px; border-radius: 100%;"></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="footer-td">
                                    <a href="/"><h3>Pavnam</h3></a>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="col-sm">
                        <h6 class="site-footer-title mb-3">Resources</h6>

                        <ul class="site-footer-links">
                            <li class="site-footer-link-item">
                                <a href="/" class="site-footer-link">Home</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="/certification" class="site-footer-link">About Certification</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="/about" class="site-footer-link">About us</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="/vegrevolution" class="site-footer-link">Veg Revolution</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a class="site-footer-link" href="/supporting">Supporting Cause</a>
                            </li>     

                            <li class="site-footer-link-item">
                                <a href="/faq" class="site-footer-link">FAQs</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="/contact" class="site-footer-link">Contact us</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm">
                        <h6 class="site-footer-title mb-3">Information</h6>

                        <ul class="site-footer-links">


                            
                            <li class="site-footer-link-item">
                                <a href="tel: 305-240-9671" class="site-footer-link"> 305-240-9671 </a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="mailto:info@pavnam.com" class="site-footer-link">info@pavnam.com</a>
                            </li>

                            <li class="site-footer-link-item">
                                <div class="row justify-content-left" style="padding-top: 5px;">
                                    <!-- Facebook -->
                                    <div class="col-3 col-sm-1">
                                        <a href="https://facebook.com" target="_blank" class="social-link">
                                            <i class="bi bi-facebook "></i>
                                        </a>
                                    </div>
                        
                                    <!-- Instagram -->
                                    <div class="col-3 col-sm-1">
                                        <a href="https://instagram.com" target="_blank" class="social-link">
                                            <i class="bi bi-instagram "></i>
                                        </a>
                                    </div>
                        
                                    <!-- Twitter -->
                                    <div class="col-3 col-sm-1">
                                        <a href="https://twitter.com" target="_blank" class="social-link">
                                            <i class="bi bi-twitter "></i>
                                        </a>
                                    </div>
                        
                                    <!-- LinkedIn -->
                                    <div class="col-3 col-sm-1">
                                        <a href="https://linkedin.com" target="_blank" class="social-link">
                                            <i class="bi bi-linkedin "></i>
                                        </a>
                                    </div>
                                </div>
                            </li>

                            <li class="site-footer-link-item" style="margin-top: 15px;">
                                <a class="btn custom-btn3" href="/pavnamcms">Login <i class="bi bi-person-circle"></i> </a>
                            </li>

                            <li class="site-footer-link-item">
                                <div class="dropdown" style="margin-top: 10px;">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    English</button>
        
                                    <ul class="dropdown-menu">
                                        <li><button class="dropdown-item" type="button">Hindi</button></li>
        
                                        <li><button class="dropdown-item" type="button">Tamil</button></li>
        
                                        <li><button class="dropdown-item" type="button">Kannada</button></li>
                                    </ul>
                                </div> 
                            </li>
                        </ul>

                    </div>

                    

                </div>
                
                <div class="row">
                    <div class="col-12  text-center">
                        <div class="line align-items-center"></div> 
                        <p class="copyright-text"> Copyright © 2024 <a href="/">Pavnam</a>. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
        <!--Footer END-->

         <!-- Scroll to Top Button -->
         <button id="scrollToTopBtn" title="Go to top"><i class="bi bi-chevron-double-up"></i></button>       

        <!-- JAVASCRIPT FILES -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/jquery.sticky.js"></script>
        <script src="/js/click-scroll.js"></script>
        <script src="/js/custom.js"></script>
        <script src="/js/swiper.js"></script>
        <script src="/js/scrollToTopBtn.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>

    </body>
</html>